<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<stlye>
     .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        background-color: #2a4b45;
        color: #ffffff;

    }
</stlye>
<body>
    <div class="footer">
        <p>{{ gittag }}</p>
        <p>Catalog version {{ gittag }} &#124; &copy; University of Illinois Board of Trustees &#124; <a href="https://www.vpaa.uillinois.edu/resources/web_privacy">Privacy Policy</a> </p>
    </div>
</body>
</html>